
<h4>ICEP is a community engagement programme initiated by the informatics department of </h4>
<h4>TUT. Said initial was engendered to, amongst other objectives, assist students, who’ve </h4>
<h4>completed all of their theoretical modules, obtain an internship. The internship exposes said </h4>
<h4>students to industry experiences and operations.</h4>
<h4>   </h4>
<h4>There, they are both educated apropos of the latest in industry technologies, tools, </h4>
<h4>methodologies, frameworks, and systems; but also, in the internalisation and application of </h4>
<h4>methodologies, frameworks, and systems; but also, in the internalisation and application of </h4>
<h4>technical, interpersonal, and conceptual knowledge.</h4>
<h4>   </h4>
<h4>Additionally, ICEP aims to improve the conditions of townships through the implementation </h4>
<h4>and continual support of I.T solutions. This aspect both proliferating upon the state-of-living </h4>
<h4>for residents; but, also facilitating the creation of entities to continue constructive social and </h4>
<h4>commercial operations.</h4>
<h4></h4>
<h4>Moreover, ICEP assists the university by providing rapid system solutions to aid with </h4>
<h4>impediments ebbing productivity. This is performed through the implementation of a well-</h4>
<h4>structured system of operations and established business rules.</h4>
<h4></h4>
<a href="/landing">home</a>
