<div class="container">
    <div class = "wrapper">
      <div class = "nav">
        <div class = "senepe">
          <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
      </div>
        <div class = "menu">
        <ul>
          <li><a class="nav-link" href ="/services   ">Services   </a></li>
            <li><a class="nav-link" href ="/about   ">About  </a> </li>
            <li><a class="nav-link" href="/projects  ">Projects  </a></li>
            <li><a class="nav-link" href=contacts   >Contacts  </a></li>
            <li> <a class="nav-link" href=partners   >Partners   </a>  </li> 
          <li><a href="/register">Apply</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
        <div class ="infor">
            <p>ICEP is a community engagement programme initiated by the informatics department of </p>
            <p>TUT. Said initial was engendered to, amongst other objectives, assist students, who’ve </p>
            <p>completed all of their theoretical modules, obtain an internship. The internship exposes said </p>
            <p>students to industry experiences and operations.</p>
            <p>   </p>
            <p>There, they are both educated apropos of the latest in industry technologies, tools, </p>
            <p>methodologies, frameworks, and systems; but also, in the internalisation and application of </p>
            <p>methodologies, frameworks, and systems; but also, in the internalisation and application of </p>
            <p>technical, interpersonal, and conceptual knowledge.</p>
            <p>   </p>
            <p>Additionally, ICEP aims to improve the conditions of townships through the implementation </p>
            <p>and continual support of I.T solutions. This aspect both proliferating upon the state-of-living </p>
            <p>for residents; but, also facilitating the creation of entities to continue constructive social and </p>
            <p>commercial operations.</p>
            <p></p>
            <p>Moreover, ICEP assists the university by providing rapid system solutions to aid with </p>
            <p>impediments ebbing productivity. This is performed through the implementation of a well-</p>
            <p>structured system of operations and established business rules.</p>
            <p></p>
         </div>
    </div>
    
    </div> 
  </div>

