<div class="container">
    
 <div class = "wrapper">
    <div class = "nav">
        <div class = "senepe">
            <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
        </div>
      <div class = "menu">
      <ul>
          <li><a class="nav-link" href ="/services   ">Services   </a></li>
          <li><a class="nav-link" href ="/about   ">About  </a> </li>
          <li><a class="nav-link" href="/projects  ">Projects  </a></li>
          <li><a class="nav-link" href=contacts   >Contacts  </a></li>
          <li> <a class="nav-link" href=partners   >Partners   </a>  </li>
      </ul>
    </div>
  </div>
  
      <div class = header>
        <h1>INFORMATICS COMMUNITY ENGAGEMENT PROGRAMME</h1>
        <p>We are the new future</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Registration">
            Sign Up For ICEP
        </button>
      </div>
  
  </div>
</div>





<!-- Modal -->
<!-- lunch button uses id as referrence -->
<div class="modal fade" id="Registration" tabindex="-1" role="dialog" aria-labelledby="icepRegisterUser"
    aria-hidden="true">
    <div class="modal-dialog modal-ls" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light justify-content-center">
                <h5 class="modal-title ">ICEP Registration</h5>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="fname" required class="form-control"
                            placeholder="Enter Your First Name">
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lname" required class="form-control"
                            placeholder="Enter Your Last Name">
                    </div>


                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" formControlName="email" required class="form-control" aria-describedby="emailHelp"
                            placeholder="Enter your Email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" formControlName="pword" required class="form-control"
                                    placeholder="Enter Secret Password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" formControlName="pword2" required class="form-control"
                                    placeholder="Re-enter Secret Password">
                            </div>
                        </div>
                    </div>


                   
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-secondary" >Submit</button> 
                    <a [routerLink]="['/login']" class="btn btn-link">Login here</a> 
                    <!-- (click)="postApplication() -->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal end -->
